# Modularity

In [ ]:
Python code is placed in *.py files called "modules"
Modules can be executed directly with python module_name.py
Brought into REPL or modules with
import module_name
Use __name__ to determine how the module is being used
if __name__== "main" the module is being excuted
command line arguments are accessible through sys.argv
The script filename is in sys.argv[0]

In [7]:
#Function
def square(x):
    return x*x
square(5)

25

In [8]:
def add(x,y):
    return x+y
add(5,10)

15

In [18]:
def even_or_odd(n):
    if n % 2 == 0:
        print("Even")
        return
    print("odd")

In [19]:
even_or_odd(10)

Even

In [20]:
even_or_odd(15)

odd

In [23]:
w = even_or_odd(15)
w is None

odd

True

In [24]:
#Documenting your code with docs strings

# Docs strings

In [26]:
#Docs strings are literal strings, which occur as the first statement within named block.
#Each docs strings begins with short descriptions of function followed by neccessary list of arguments of the function and
#return value.
def add(x,y):
    """This code is written to add two number
    """
    return x+y
add(10,20)

30

In [29]:
help(add)   # this is the advantages of using docs string

Help on function add in module __main__:

add(x, y)
    This code is written to add two number

# The whole Shebang

In [ ]:
Special Comment called Shebang. This begings with the usal hash as for any other comment followed by an exclamation mark (!).
The shebang allows the program loader to identify which interpeter will be used to run the program.
The exact details of shebang command depends on the location of python in your system

In [ ]:
#!usr/bin/env python3

# Objects

In [30]:
x= 1000   # In this case python creates int object with the name x

In [ ]:
#Built-in id()
returns a unique identifier for an object
id() deals with object,not the reference

In [31]:
a = 49
id(a)

19425440L

In [32]:
b = 50
id(b)

19425416L

In [33]:
b=a

In [35]:
id(b)

19425440L

In [36]:
id(a)==id(b)

True

In [37]:
a is b

True

In [38]:
a is None

False

In [39]:
r=[2,5,8,9]

In [47]:
s=r

In [48]:
s[2]=10

In [49]:
s

[2, 5, 10, 9]

In [50]:
s is r

True

In [51]:
r

[2, 5, 10, 9]

In [52]:
p=[4,7,11]
q=[4,7,11]

In [53]:
p==q

True

In [54]:
p is q

False

In [56]:
p == p

True

In [ ]:
Note: Object should be always equivalent to itself.
value equivalent "contents"
Identity - same object
value comparision can be controlled progrmatically
Identity comparision defined by launguage and we canot change that.

# arguments passing

In [67]:
m = [9,10,15,17]
def modify(k):
    k.append(39)
    print("k=",k)

In [68]:
modify(m)

('k=', [9, 10, 15, 17, 39])

In [69]:
f = [10,12,17,19]
def replace(g):
    g=[1,2,3,4]
    print("g=",g)

In [71]:
replace(f)

('g=', [1, 2, 3, 4])

In [72]:
f

[10, 12, 17, 19]

In [73]:
# Pass by reference
The value of reference is copied not the value of the object

In [74]:
def f(d):
    return d

In [75]:
c = [10,20,25,30]

In [80]:
e=f(c)
c is e #showing no copy of the list made

True

In [81]:
#Default argumnet or optional argument

def banner(message,border='_'):
    line = border*len(message)
    print(line)
    print(message)
    print(line)

In [82]:
banner("Norwegian Blue")

______________
Norwegian Blue
______________

In [85]:
banner("sun,Moon and Stars","*")

******************
sun,Moon and Stars
******************

In [86]:
#keyword argument
banner("sun,moon and stars",border="*")

******************
sun,moon and stars
******************

In [88]:
banner(border=".",message="Hello From Earth")

................
Hello From Earth
................

In [89]:
import time
time.ctime()

'Sun Aug 25 00:52:12 2019'

In [90]:
def show_default(arg=time.ctime()):
    print(arg)

In [93]:
show_default()

Sun Aug 25 00:53:52 2019

In [94]:
show_default()

Sun Aug 25 00:53:52 2019

In [ ]:
Note : Default argument is called only once when def is evaluated

In [95]:
def add_spam(menu=[]):
    menu.append("spam")
    return menu

In [99]:
breakfast = ['bacon','eggs']

In [100]:
add_spam(breakfast)

['bacon', 'eggs', 'spam']

In [101]:
lunch=['baked beans']

In [102]:
add_spam(lunch)

['baked beans', 'spam']

In [103]:
add_spam()

['spam']

In [104]:
add_spam()

['spam', 'spam']

In [ ]:
Note : In above case we are getting spam as output as many as time add_spam() is running,but we can overcome with this problem
       none object as sentimal.

In [111]:
def add_menu(menu=None):
    if menu is None:
        menu=[]
        menu.append('spam')
        return menu

In [113]:
add_menu()

['spam']

In [114]:
add_menu()

['spam']

In [115]:
add_menu()

['spam']

# Python's Type System

In [ ]:
1). Dynamic Type System
In Dynamic Type System objects type are only resolved at runtime
For Example

In [116]:
def add(a,b):
    return a+b

In [117]:
add(5,7)

12

In [118]:
add("tal","entica")

'talentica'

In [119]:
add(4.5,2)

6.5

In [120]:
add([1,20],[2,5])

[1, 20, 2, 5]

In [ ]:
#Strong Type System
In this there is no implict type conversion

In [121]:
add("This is addition program",55)

TypeError: cannot concatenate 'str' and 'int' objects

In [ ]:
# Python Name Scopes (LEGB)

In [ ]:
#Local,Enclosing,Global,Built-In

In [ ]:
Note: In Python Everything is an Object
      We can use type function to check
      We can use dir() to check the attributes of an object

# Collections Types

Tuple (Heterogenous immutable sequence).Means once created you can not modify,add

In [129]:
t = ("India",4.5,3)

In [130]:
t[0]

'India'

In [131]:
len(t)

3

In [127]:
for items in t:
    print(items)

India
4.5
3

In [132]:
#Contacenate
t+(4.89,365e9)

('India', 4.5, 3, 4.89, 365000000000.0)

In [133]:
t*3

('India', 4.5, 3, 'India', 4.5, 3, 'India', 4.5, 3)

In [134]:
e=()
type(e)

tuple

In [135]:
tt=1,2,8,9
type(tt)

tuple

In [136]:
pp=(10,20,30,45)
type(pp)

tuple

In [141]:
def minmax(items):
    return min(items),max(items)

In [142]:
minmax([10,45,5,100,11])

(5, 100)

In [146]:
lower,upper=minmax([10,45,5,100,11])    #tuple_unpacking

In [147]:
lower

5

In [148]:
upper

100

In [149]:
5 not in (10,5,12,13,16)

False

In [150]:
5 in (10,5,12,13,16)

True

In [152]:
# String

In [153]:
"new"+"land"+"found"

'newlandfound'

In [154]:
s="new"

In [156]:
s+="land"

In [157]:
s+="found"

In [158]:
s

'newlandfound'

In [159]:
#best way to apply .join() method

In [160]:
colors = ';'.join(['#4531','#3254','#5413'])

In [161]:
colors

'#4531,#3254,#5413'

In [164]:
colors.split(';')

['#4531,#3254,#5413']

In [165]:
''.join(['high','way','man'])

'highwayman'

In [167]:
"unforgettable".partition('forget')

('un', 'forget', 'table')

In [ ]:
#format method()

In [169]:
"The age of {0} is {1}".format("Amit",22)

'The age of Amit is 22'

In [172]:
"Current position is {latitude} {longitude}".format(latitude="60N",longitude="5E")

'Current position is 60N 5E'

In [176]:
#help(str)

In [179]:
#range (arithmetic progression of integer)

In [180]:
range(5)

[0, 1, 2, 3, 4]

In [181]:
for i in range(5):
    print(i)

0
1
2
3
4

In [184]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [185]:
list(range(5,10,2))

[5, 7, 9]

In [186]:
s=[1,2,5,7]
for v in s:
    print(v)

1
2
5
7

In [187]:
#enumerate() method

In [188]:
t = [15,20,18,100,17,14]
for p in enumerate(t):
    print(p)

(0, 15)
(1, 20)
(2, 18)
(3, 100)
(4, 17)
(5, 14)

In [189]:
#list(hetrogenous and mutable sequence)

In [190]:
s="how to show index sequence".split()

In [191]:
s

['how', 'to', 'show', 'index', 'sequence']

In [193]:
s[3]

'index'

In [196]:
s[2:]

['show', 'index', 'sequence']

In [197]:
s[:2]

['how', 'to']

In [203]:
full_slice = s[:]  #copying

In [204]:
full_slice

['how', 'to', 'show', 'index', 'sequence']

In [205]:
full_slice is s

False

In [206]:
full_slice == s

True

In [210]:
#copy method
u = s.copy()

AttributeError: 'list' object has no attribute 'copy'

In [212]:
v=list(s)
v

['how', 'to', 'show', 'index', 'sequence']

In [ ]:
Note: This all method of copy is called Shallow copying.It is creating new list by copying the object references as the source
      list but don't copy the reffered to object

In [213]:
#List_repetition
li = [1,2,5,"Hello"]
li*4

[1, 2, 5, 'Hello', 1, 2, 5, 'Hello', 1, 2, 5, 'Hello', 1, 2, 5, 'Hello']

In [214]:
[0]*9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [216]:
s=[[-1,+1]]*3
s

[[-1, 1], [-1, 1], [-1, 1]]

In [221]:
s[1].append(3)
s

[[-1, 1, 3], [-1, 1, 3], [-1, 1, 3], 3, 3]

In [222]:
#finding an elements

In [226]:
w = "the quick brown fox over lazy dog".split()

In [227]:
i=w.index('fox')
i

3

In [228]:
w[i]

'fox'

In [229]:
w.index('unicorn')

ValueError: 'unicorn' is not in list

In [230]:
w.count('the')

1

In [232]:
37 in [12,14,17,37] #membership operator

True

In [235]:
37 not in [10,15,18,37] # non membership operator

False

In [240]:
uuuu="i love my india".split()
uuuu.remove('love')
uuuu

['i', 'my', 'india']

In [244]:
del uuuu[0]
uuuu

['my']

In [246]:
a = "i love coding".split()
a

['i', 'love', 'coding']

In [247]:
a.insert(2,'python')
a

['i', 'love', 'python', 'coding']

In [250]:
' '.join(a)

'i love python coding'

In [253]:
m=[2,5,4,7]
n=[10,14,17]
k= m+n 
k

[2, 5, 4, 7, 10, 14, 17]

In [254]:
k+=[18,19,20]
k

[2, 5, 4, 7, 10, 14, 17, 18, 19, 20]

In [257]:
k.extend([100,101,102,105])
k

[2, 5, 4, 7, 10, 14, 17, 18, 19, 20, 100, 101, 102, 105, 100, 101, 102, 105]

In [259]:
k.sort()
k

[2, 4, 5, 7, 10, 14, 17, 18, 19, 20, 100, 100, 101, 101, 102, 102, 105, 105]

In [260]:
k.reverse()
k

[105, 105, 102, 102, 101, 101, 100, 100, 20, 19, 18, 17, 14, 10, 7, 5, 4, 2]

In [268]:
h = "i know coding in python".split()
h

['i', 'know', 'coding', 'in', 'python']

In [269]:
h.sort(key=len)
h

['i', 'in', 'know', 'coding', 'python']

In [270]:
' '.join(h)

'i in know coding python'

In [ ]:
#dict (unordered mapping from unique immutable keys to mutable values)

In [271]:
urls = {"github":"https://github.com",
       "google":"https://google.com",
       "fb":"https://fb.com"}

In [272]:
urls

{'fb': 'https://fb.com',
 'github': 'https://github.com',
 'google': 'https://google.com'}

In [277]:
names_and_ages = [('alice',20),('bob',25),('eve','25')]
type(names_and_ages)

list

In [279]:
d=dict(names_and_ages)
d

{'alice': 20, 'bob': 25, 'eve': '25'}

In [280]:
e=d.copy()
e

{'alice': 20, 'bob': 25, 'eve': '25'}

In [281]:
for value in e.values():
    print(value)

25
20
25

In [282]:
for key in e.keys():
    print(key)

bob
alice
eve

In [284]:
#set (unordered collection of unique,immutable object)

In [285]:
d={12,10,100,18,14,17}
type(d)

set

In [286]:
e={}
type(e)

dict

In [288]:
e=set()
type(e)

set

In [ ]:
Note: set is basically used to remove duplicates elements

In [289]:
t = [1,2,2,2,3,4,5,5,4]
set(t)

{1, 2, 3, 4, 5}

In [290]:
vvv={1,2,3,2,10,1,0,3,0}
www={2,2,1,3,4,5,0,6,1}
vvv.union(www)

{0, 1, 2, 3, 4, 5, 6, 10}

In [291]:
vvv.intersection(www)

{0, 1, 2, 3}

In [292]:
vvv.difference(www)

{10}

In [293]:
vvv.issubset(www)

False

In [294]:
vvv.issuperset(www)

False

# Handling Exceptions

In [ ]:
Exception Handling is a mechanism for stopping "normal" program flow and continuing at some surrounding context or code block

In [302]:
def convert(s):
    """Program to convert into integer
    """
    try:
        x=int(s)
        print("conversion successed !")
    except ValueError:
        print("Conversion Failed !")
        x = -1
    return x

In [303]:
convert("34")

conversion successed !

34

In [304]:
convert("Elephant")   # Beacuse int constructor only accepts number in string

Conversion Failed !

-1

In [305]:
convert([4,5,6])

TypeError: int() argument must be a string or a number, not 'list'

In [306]:
def convert(s):
    """Program to convert into integer
    """
    try:
        x=int(s)
        print("conversion successed !")
    except ValueError:
        print("Conversion Failed !")
        x = -1
    except TypeError:
        print("Conversion Failed !")
        x = -1
        
    return x

In [307]:
convert([4,5,6])

Conversion Failed !

-1

In [ ]:
Note : Exception for programmer errors
1) Indentation Error
2) Synatx Error
3) Name Error
These all error are Programmer errors.It will not handle by exception in python

In [322]:
def convert(s):
    """Program to convert into integer
    """
    x = -1
    try:
        x=int(s)
        print("conversion successed !")
    except (ValueError,TypeError):
        pass
    return x

In [323]:
convert("amit")

-1

In [ ]:
# To know about exception details

In [329]:
def convert(s):
    """Program to convert into integer
    """
    try:
        return int(s)
    except (ValueError,TypeError) as e:
        return -1

In [339]:
def convert(s):
    """Program to convert into integer
    """
    try:
        x=int(s)
        print("conversion successed !")
    except Exception as e:
        print("Conversion Failed !")
        print(e)
        x = -1
    return x

In [341]:
convert("Virat")

Conversion Failed !
invalid literal for int() with base 10: 'Virat'

-1

In [ ]:
import os
def make_at(path,dir_name):
    original_path=os.getcwd()
    os.chdir(path)
    os.mkdir(dir_name) #if this fails
    os.chdir(original_path) #then this won't happen

In [ ]:
#To Fix above problem
import os
def make_at(path,dir_name):
    original_path=os.getcwd()
    try: # Due to any exception, this may be skipped
        os.chdir(path)
        os.mkdir(dir_name) 
    finally:     #  This would always be executed
    os.chdir(original_path)

In [ ]:
#To Fix above problem
import os
def make_at(path,dir_name):
    original_path=os.getcwd()
    try: # Due to any exception, this may be skipped
        os.chdir(path)
        os.mkdir(dir_name)
    except Exception as e:
        print(e)
    finally:     #  This would always be executed
    os.chdir(original_path)

# Iterables

# List Comprehensions
[ expr(item) for item in iterable]

In [345]:
words = "This kind of a try-except statement catches all the exceptions that occur".split()

In [346]:
words

['This',
 'kind',
 'of',
 'a',
 'try-except',
 'statement',
 'catches',
 'all',
 'the',
 'exceptions',
 'that',
 'occur']

In [347]:
[len(word) for word in words]

[4, 4, 2, 1, 10, 9, 7, 3, 3, 10, 4, 5]

In [351]:
lenghts = []
for word in words:
    lenghts.append(len(word))

In [352]:
lenghts

[4, 4, 2, 1, 10, 9, 7, 3, 3, 10, 4, 5]

In [356]:
from math import factorial

In [357]:
[len(str(factorial(x))) for x in range(10)]

[1, 1, 1, 1, 2, 3, 3, 4, 5, 6]

# Set Comprehension

In [359]:
{len(str(factorial(x))) for x in range(10)}

{1, 2, 3, 4, 5, 6}

# Dictionary Comprehension
{key_expr:value_expr for item in iterable}

In [360]:
country_to_capital = {"India":"Delhi","United Kingdom":"London"}

In [366]:
capital_to_country = {capital:country for country,capital in country_to_capital.items()}

In [367]:
capital_to_country

{'Delhi': 'India', 'London': 'United Kingdom'}

In [368]:
# map the first letter of words to the words themselves

In [370]:
words = ["hi","hello","forest","hotel"]
{x[0]: x for x in words}
#Note:Duplicates later keys overwrites earlier keys

{'f': 'forest', 'h': 'hotel'}

In [ ]:
Note: We can use import glob module to find all of the python source file (.py) in particular folder

In [ ]:
import glob
glob(os.path.join('src','*.py'))

In [ ]:
#Iteration

In [371]:
iterable = ['spring','summer','Autumn','Spring']
iterator = iter(iterable)

In [373]:
next(iterator)

'spring'

In [374]:
next(iterator)

'summer'

In [375]:
def first(iterable):
    iterator = iter(iterable)
    try:
        return next(iterator)
    except StopIteration:
        raise ValueError("Iterable is empty")

In [379]:
first(["First","Second","Third"])

'First'

In [381]:
first({"First","Second","Third"})

'Second'

In [382]:
first(set())

ValueError: Iterable is empty

# Generators

In [ ]:
Generators are defined by any python function which uses yield keyword at least once in its definitions. It works like normal
python function

In [384]:
def gen123():
    yield 1
    yield 2
    yield 3
    return

In [386]:
g = gen123()
g

In [387]:
next(g)

1

In [388]:
next(g)

2

In [389]:
next(g)

3

In [390]:
next(g)

StopIteration:

In [392]:
for v in gen123():
    print(v)

1
2
3

In [393]:
#Generator Comprehensions(similar to list)

In [394]:
milions_square = (x*x for x in range(1,1000001))

In [395]:
milions_square

In [396]:
list(milions_square)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601,
 40000,
 40401,
 40804,
 41209,
 41616,
 42025,
 42436,
 42849,
 43264,
 43681,
 44100,
 44521,
 44944,
 45369,
 45796,
 46225,
 46656,
 47089,
 47524,
 47961,
 48400,
 48841,
 49284,
 49729,
 50176,
 50625,
 51076,
 51529,
 51984,
 52441,
 52900,
 53361,
 53824,
 54289,
 54756,
 55225,
 55696,
 56169,
 56644,
 57121,
 57600,
 58081,
 58564,
 59049,
 59536,
 60025,
 60516,
 61009,
 61504,
 62001,
 62500,
 63001,
 63504,
 64009,
 64516,
 65025,
 65536,
 66049,
 66564,
 67081,
 67600,
 68121,
 68644,
 69169,
 69696,
 70225,
 70756,
 71289,
 71824,
 72361,
 72900,
 73441,
 73984,
 74529,
 75076,
 75625,
 76176,
 76729,
 77284,
 77841,
 78400,
 78961,
 79524,
 80089,
 80656,
 81225,
 81796,
 82369,
 82944,
 83521,
 84100,
 84681,
 85264,
 85849,
 86436,
 87025,
 87616,
 88209,
 88804,
 89401,
 90000,
 90601,
 91204,
 91809,
 92416,
 93025,
 93636,
 94249,
 94864,
 95481,
 96100,
 96721,
 97344,
 97969,
 98596,
 99225,
 99856,
 100489,
 101124,
 101761,
 102400,
 103041,
 103684,
 104329,
 104976,
 105625,
 106276,
 106929,
 107584,
 108241,
 108900,
 109561,
 110224,
 110889,
 111556,
 112225,
 112896,
 113569,
 114244,
 114921,
 115600,
 116281,
 116964,
 117649,
 118336,
 119025,
 119716,
 120409,
 121104,
 121801,
 122500,
 123201,
 123904,
 124609,
 125316,
 126025,
 126736,
 127449,
 128164,
 128881,
 129600,
 130321,
 131044,
 131769,
 132496,
 133225,
 133956,
 134689,
 135424,
 136161,
 136900,
 137641,
 138384,
 139129,
 139876,
 140625,
 141376,
 142129,
 142884,
 143641,
 144400,
 145161,
 145924,
 146689,
 147456,
 148225,
 148996,
 149769,
 150544,
 151321,
 152100,
 152881,
 153664,
 154449,
 155236,
 156025,
 156816,
 157609,
 158404,
 159201,
 160000,
 160801,
 161604,
 162409,
 163216,
 164025,
 164836,
 165649,
 166464,
 167281,
 168100,
 168921,
 169744,
 170569,
 171396,
 172225,
 173056,
 173889,
 174724,
 175561,
 176400,
 177241,
 178084,
 178929,
 179776,
 180625,
 181476,
 182329,
 183184,
 184041,
 184900,
 185761,
 186624,
 187489,
 188356,
 189225,
 190096,
 190969,
 191844,
 192721,
 193600,
 194481,
 195364,
 196249,
 197136,
 198025,
 198916,
 199809,
 200704,
 201601,
 202500,
 203401,
 204304,
 205209,
 206116,
 207025,
 207936,
 208849,
 209764,
 210681,
 211600,
 212521,
 213444,
 214369,
 215296,
 216225,
 217156,
 218089,
 219024,
 219961,
 220900,
 221841,
 222784,
 223729,
 224676,
 225625,
 226576,
 227529,
 228484,
 229441,
 230400,
 231361,
 232324,
 233289,
 234256,
 235225,
 236196,
 237169,
 238144,
 239121,
 240100,
 241081,
 242064,
 243049,
 244036,
 245025,
 246016,
 247009,
 248004,
 249001,
 250000,
 251001,
 252004,
 253009,
 254016,
 255025,
 256036,
 257049,
 258064,
 259081,
 260100,
 261121,
 262144,
 263169,
 264196,
 265225,
 266256,
 267289,
 268324,
 269361,
 270400,
 271441,
 272484,
 273529,
 274576,
 275625,
 276676,
 277729,
 278784,
 279841,
 280900,
 281961,
 283024,
 284089,
 285156,
 286225,
 287296,
 288369,
 289444,
 290521,
 291600,
 292681,
 293764,
 294849,
 295936,
 297025,
 298116,
 299209,
 300304,
 301401,
 302500,
 303601,
 304704,
 305809,
 306916,
 308025,
 309136,
 310249,
 311364,
 312481,
 313600,
 314721,
 315844,
 316969,
 318096,
 319225,
 320356,
 321489,
 322624,
 323761,
 324900,
 326041,
 327184,
 328329,
 329476,
 330625,
 331776,
 332929,
 334084,
 335241,
 336400,
 337561,
 338724,
 339889,
 341056,
 342225,
 343396,
 344569,
 345744,
 346921,
 348100,
 349281,
 350464,
 351649,
 352836,
 354025,
 355216,
 356409,
 357604,
 358801,
 360000,
 361201,
 362404,
 363609,
 364816,
 366025,
 367236,
 368449,
 369664,
 370881,
 372100,
 373321,
 374544,
 375769,
 376996,
 378225,
 379456,
 380689,
 381924,
 383161,
 384400,
 385641,
 386884,
 388129,
 389376,
 390625,
 391876,
 393129,
 394384,
 395641,
 396900,
 398161,
 399424,
 400689,
 401956,
 403225,
 404496,
 405769,
 407044,
 408321,
 409600,
 410881,
 412164,
 413449,
 414736,
 416025,
 417316,
 418609,
 419904,
 421201,
 422500,
 423801,
 425104,
 426409,
 427716,
 429025,
 430336,
 431649,
 432964,
 434281,
 435600,
 436921,
 438244,
 439569,
 440896,
 442225,
 443556,
 444889,
 446224,
 447561,
 448900,
 450241,
 451584,
 452929,
 454276,
 455625,
 456976,
 458329,
 459684,
 461041,
 462400,
 463761,
 465124,
 466489,
 467856,
 469225,
 470596,
 471969,
 473344,
 474721,
 476100,
 477481,
 478864,
 480249,
 481636,
 483025,
 484416,
 485809,
 487204,
 488601,
 490000,
 491401,
 492804,
 494209,
 495616,
 497025,
 498436,
 499849,
 501264,
 502681,
 504100,
 505521,
 506944,
 508369,
 509796,
 511225,
 512656,
 514089,
 515524,
 516961,
 518400,
 519841,
 521284,
 522729,
 524176,
 525625,
 527076,
 528529,
 529984,
 531441,
 532900,
 534361,
 535824,
 537289,
 538756,
 540225,
 541696,
 543169,
 544644,
 546121,
 547600,
 549081,
 550564,
 552049,
 553536,
 555025,
 556516,
 558009,
 559504,
 561001,
 562500,
 564001,
 565504,
 567009,
 568516,
 570025,
 571536,
 573049,
 574564,
 576081,
 577600,
 579121,
 580644,
 582169,
 583696,
 585225,
 586756,
 588289,
 589824,
 591361,
 592900,
 594441,
 595984,
 597529,
 599076,
 600625,
 602176,
 603729,
 605284,
 606841,
 608400,
 609961,
 611524,
 613089,
 614656,
 616225,
 617796,
 619369,
 620944,
 622521,
 624100,
 625681,
 627264,
 628849,
 630436,
 632025,
 633616,
 635209,
 636804,
 638401,
 640000,
 641601,
 643204,
 644809,
 646416,
 648025,
 649636,
 651249,
 652864,
 654481,
 656100,
 657721,
 659344,
 660969,
 662596,
 664225,
 665856,
 667489,
 669124,
 670761,
 672400,
 674041,
 675684,
 677329,
 678976,
 680625,
 682276,
 683929,
 685584,
 687241,
 688900,
 690561,
 692224,
 693889,
 695556,
 697225,
 698896,
 700569,
 702244,
 703921,
 705600,
 707281,
 708964,
 710649,
 712336,
 714025,
 715716,
 717409,
 719104,
 720801,
 722500,
 724201,
 725904,
 727609,
 729316,
 731025,
 732736,
 734449,
 736164,
 737881,
 739600,
 741321,
 743044,
 744769,
 746496,
 748225,
 749956,
 751689,
 753424,
 755161,
 756900,
 758641,
 760384,
 762129,
 763876,
 765625,
 767376,
 769129,
 770884,
 772641,
 774400,
 776161,
 777924,
 779689,
 781456,
 783225,
 784996,
 786769,
 788544,
 790321,
 792100,
 793881,
 795664,
 797449,
 799236,
 801025,
 802816,
 804609,
 806404,
 808201,
 810000,
 811801,
 813604,
 815409,
 817216,
 819025,
 820836,
 822649,
 824464,
 826281,
 828100,
 829921,
 831744,
 833569,
 835396,
 837225,
 839056,
 840889,
 842724,
 844561,
 846400,
 848241,
 850084,
 851929,
 853776,
 855625,
 857476,
 859329,
 861184,
 863041,
 864900,
 866761,
 868624,
 870489,
 872356,
 874225,
 876096,
 877969,
 879844,
 881721,
 883600,
 885481,
 887364,
 889249,
 891136,
 893025,
 894916,
 896809,
 898704,
 900601,
 902500,
 904401,
 906304,
 908209,
 910116,
 912025,
 913936,
 915849,
 917764,
 919681,
 921600,
 923521,
 925444,
 927369,
 929296,
 931225,
 933156,
 935089,
 937024,
 938961,
 940900,
 942841,
 944784,
 946729,
 948676,
 950625,
 952576,
 954529,
 956484,
 958441,
 960400,
 962361,
 964324,
 966289,
 968256,
 970225,
 972196,
 974169,
 976144,
 978121,
 980100,
 982081,
 984064,
 986049,
 988036,
 990025,
 992016,
 994009,
 996004,
 998001,
 1000000,
 ...]

In [397]:
list(milions_square)   #generators are single use object

[]

In [412]:
#iterators_tools

In [398]:
from itertools import islice,count

In [404]:
#sum(islice((x for x in count() if is_prime(x)),1000))

In [ ]:
Note : any and all are equlivalent to operators.

In [405]:
any([False,False,True]) #It returns true if any true value is there

True

In [406]:
all([False,False,True]) #It returns true if all are  true value

False

In [407]:
#zip

In [410]:
sunday=[12,13,15,17,18,20]
monday=[12,30,16,17,18]

In [411]:
for item in zip(sunday,monday):
    print(item)

(12, 12)
(13, 30)
(15, 16)
(17, 17)
(18, 18)

# Classes

In [419]:
class Flight:
    def number(self):
        return "SN060"
#f = Flight()
f.number()

'SN060'

In [ ]:
Method : A function defined within a  class
Instance methods : functions which can be called on objects
self : The First argument to all methods

In [ ]:
__init__() instance method for intializing new objects
This is a intializer not constructor

In [ ]:
class Flight:
    def __init__(self,number):
        self._number = number
    def number(self):
        return self._number = number
#f = Flight()
#f.number()

# Files and Resource Management

In [3]:
import sys
sys.getdefaultencoding()

'utf-8'

In [ ]:
#writing text file

In [19]:
f = open('abc.txt',mode='wt',encoding='utf-8')  #here w means write and t means text in wt

In [20]:
#help(f)

In [21]:
f.write('Life has no ctrl+z\n')

19

In [22]:
f.write('life is beautiful\n')

18

In [23]:
f.write('Python is a programming language\n')

33

In [24]:
f.close()

In [25]:
#read text file

In [41]:
g = open('abc.txt',mode = 'rt',encoding = 'utf-8')

In [42]:
g.read(19)   # In text mode it accepts the number of character,not the number of bytes

'Life has no ctrl+z\n'

In [43]:
g.read()

'life is beautiful\nPython is a programming language\n'

In [44]:
g.read()

''

In [45]:
g.seek(0)   # Move back to the begining of the file using seek(0)

0

In [46]:
g.readline()

'Life has no ctrl+z\n'

In [47]:
g.readline()

'life is beautiful\n'

In [50]:
g.seek(0)

0

In [51]:
g.readlines()

['Life has no ctrl+z\n',
 'life is beautiful\n',
 'Python is a programming language\n']

In [52]:
g.close()

In [53]:
#Appending To Text File

In [54]:
h = open('abc.txt',mode='at',encoding = 'utf-8')

In [55]:
h.writelines(['Python is an interpreted, high-level, general-purpose programming language \n',
             'Created by Guido van Rossum and first released in 1991\n',
             'Python is dynamically typed and garbage-collected'])

In [56]:
h.close()

In [57]:
#Files as iterators

In [58]:
import sys

In [ ]:
def main(filename):
    f = open(filename,mode='rt',encoding='utf-8')
    for line in f:
        sys.stdout.write(line) # to remove extra spaces
    f.close()

if __name__== 'main':
    main(sys.argv[1])

In [ ]:
#To run above code
python3 .py txt file name

In [ ]:
#Context Manager

In [ ]:
"""Managing Resources : In any programming language, the usage of resources like file operations or database connections is very common. 
But these resources are limited in supply. Therefore, the main problem lies in making sure to release these resources after usage. 
If they are not released then it will lead to resource leakage and may cause the system to either slow down or crash.
It would be very helpful if user have a mechanism for the automatic setup and teardown of resources.
In Python, it can be achieved by the usage of context managers which facilitate the proper handling of resources.
The most common way of performing file operations is by using the with keyword as shown below:
"""

In [ ]:
Note: When we are reading or writing a file in python,we must have to close that file
      sometimes it consumes the resources of our system if multiple files are opend.
    so we with the help of keywords "with" this prbolem can be resolved.with keyword opens
    file ,read file,write file and its close automatically.There is no need of any close() 
    function

In [ ]:
with open("test.txt") as f:    
    data = f.read()

In [60]:
#Writing Binary Files

In [65]:
newFileBytes = [123, 3, 255, 0, 100]
# make file
newFile = open("filename.txt", "wb")
newFileByteArray = bytearray(newFileBytes)
newFile.write(newFileByteArray)
newFile.close()

In [66]:
#Bitwise_Operator

In [67]:
a = 10
b = 20

In [68]:
print(a & b) #AND

0

In [69]:
print(a | b) #OR

30

In [70]:
print(~a) #not

-11

In [71]:
print(a^b) #XOR

30

In [73]:
print(a>>2) #right shift

2

In [74]:
print(a<<2)  #left shift

40

In [99]:
#reading binary files

In [108]:
with open("filename.txt", "rb") as f:
    byte = f.read(10)
    print(byte)

b'{\x03\xff\x00d'

# Shipping working and maintainable code

Unittest: Automated and repeatble
Testcases: group together related test functions
Fixtures : code run before and/or after each test function.Fixtures are used to make sure 
that test environment in a expected state before test case run.
Assertions: assertions tells that the unitest framework to make specific checks which                  determine wheather test passes or fails.
assertions also make booliean check
x.is_valid()
also performs object equality test or verify proper exception are thrown
x==y
Note : If assertions fails,then a test fails.

In [1]:
#check test_analyzer.py file for unit test examples

PDB(The Python DeBugger) : is command line debugger

In [3]:
import pdb

In [ ]:
pdb.set_trace()

--Call--
> /home/amitkumarmakhija/anaconda3/lib/python3.6/site-packages/IPython/core/displayhook.py(247)__call__()
-> def __call__(self, result=None):
(Pdb) help

Documented commands (type help <topic>):
========================================
EOF    c          d        h         list      q        rv       undisplay
a      cl         debug    help      ll        quit     s        unt
alias  clear      disable  ignore    longlist  r        source   until
args   commands   display  interact  n         restart  step     up
b      condition  down     j         next      return   tbreak   w
break  cont       enable   jump      p         retval   u        whatis
bt     continue   exit     l         pp        run      unalias  where

Miscellaneous help topics:
==========================
exec  pdb

--KeyboardInterrupt--

In [ ]:
Note: To debug any .py file using pdb module.
      python3 -m pdb xyz.py
      #Here -m indicates that run pdb module for this file

# Virtual Environments

In [ ]:
python3 -m venv #To verify whether venv is installed or not

In [ ]:
python3 -m venv venv3 # To create venv

In [ ]:
source venv3/bin/activate # To activate

In [ ]:
deactivate  # To deactiavte

# Distributing your programs

In [ ]:
#Make your code to accessble to others.This can be done by distutils module which allow to
#install any python module

In [3]:
#create setup.py file
from distutils.core import setup
setup(name = 'abc',
      version = '1.0',
      py_modules = ['test_analyzer'] #It speciifes which .py file you want to import
     )